html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html, body {
	font-family: 'Questrial', sans-serif;
  min-height:100%;
  color:#000;
	background-color:#fafafa;
}

.land {
  background-color:#fff;
  width:100%;
  height:100vh;
  position:relative;
  overflow:hidden;
}

.land .loots {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: top center;
	background-image: url(../img/bg.jpg);
}

a {
	text-decoration:none;
	color:#000;
}

/* header */

.header-primary {
  position: fixed;
  background-color:#00000045;
  color:#fff;
  top:0;
  left:0;
  width:100%;
  height:54px;
  z-index:10;
}

.header-left {
  float:left;
  padding:15px;
}

.header-right {
  float:right;
  padding:15px;
}

.header-right a:hover {
	animation: color ease-in-out;
}

.header-right a {
	color: #fff;
}

.decorate {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.decorate::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #000;
  bottom: -4px;
  transform: scale(0, 1);
  transition: transform 0.3s;
  transform-origin: center top;
}

.decorate:hover::after {
  transform: scale(1, 1);
}

.nav {
  position:absolute;
  top:50%;
  left:0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  width:100%;
}

@media (min-width:768px) {
  .header-primary {
    height:76px;
  }
}

/* main block */

.image-title {
  z-index: 10;
	font-size:7em;
  color: #000;
  position: absolute;
  text-align:center;
  width: 100%;
  top: 50%;
  left:50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

.link-wrapper {
  position:absolute;
  bottom:30px;
  left:50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  text-align:center;
}

.h4 {
  font-size:20px;
  letter-spacing:0;
  line-height:1.4;
}

.work-link {
  color:inherit;
  text-decoration: none;
  14px;
  letter-spacing:0;
  line-height:1;
}

/* ind blocks */

#my-block-1 {
	padding-top:100px;
}

.my-block {
  padding: 60px 0px;
}

.block-container {
  width: 100%;
  max-width: 1440px;
  margin:0 auto;
  position: relative;
}

.active {
	visibility:visible;
}

.image-block {
	padding-top:50px;
  width: 100%;
  max-width:500px;
	margin:0 auto;
}

.image-block img:nth-of-type(2), .image-block img:nth-of-type(3), .image-block img:nth-of-type(4), .image-block img:nth-of-type(5), .image-block img:nth-of-type(6) {
	position:absolute;
	top:100px;
}

.container-fluid {
  margin:0 auto;
  padding:0 15px;
}

.block-title {
	text-align:center;
  width:100%;
	margin:0 auto;
}

.h2 {
  font-size:50px;
  letter-spacing:-2px;
  line-height:1;
}

.block-info {
  margin-top:60px;
}

.button {
  -webkit-appearance: none;
  outline: 0;
  background: transparent;
  text-decoration:none;
  border-bottom: 0;
  padding: .75em 2.5em;
  font-size: 16px;
  letter-spacing:0;
  line-height:1.35;
  border:1px solid;
  cursor: pointer;
  display:inline-block;
}

/* footer */

footer {
	left:0;
	bottom:0;
	height:54px;
	margin:0 auto;
	width:100%;
	background-color:#00000045;
	text-align:center;
}

.footer {
	padding: 18px;
	letter-spacing: 1px;
}

/* overlay */

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000000;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a, .overlay span {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
